UserInterfaceState.xcuserstate
contents.xcworkspacedata
Breakpoints_v2.xcbkptlist
WorkspaceSettings.xcsettings
Coding Challenge MG.xcodeproj/xcuserdata/Michi.xcuserdatad/xcschemes/Coding Challenge MG.xcscheme
Coding Challenge MG.xcodeproj/xcuserdata/Michi.xcuserdatad/xcschemes/xcschememanagement.plist
